*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("../images/header-slider-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.shadow::before {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  background: rgba(0, 0, 0, 0.6);
  transition: background-color 1s ease; }

.main-content {
  flex-grow: 1; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999999;
  background: #fff;
  transition: .3s all ease; }
  .page-loader.loaded {
    opacity: 0;
    visibility: hidden;
    z-index: -1; }
  .page-loader__body {
    position: relative;
    width: 100px;
    height: 100px; }
  .page-loader svg {
    position: absolute;
    fill: #316ccd;
    transform-origin: 50% 50%; }
  .page-loader .item1 {
    top: 0;
    left: 0;
    animation: item-rotate 10s infinite; }
  .page-loader .item2 {
    top: 32px;
    left: 51px;
    animation: item-rotate-reverse 10s infinite; }
  .page-loader .item3 {
    top: 58px;
    left: 18px;
    animation: item-rotate 10s infinite; }

.main-content--form, .main-content--prices, .main-content--about-us, .main-content--repair {
  background: #fff;
  padding-top: 100px; }
  @media (min-width: 768px) {
    .main-content--form, .main-content--prices, .main-content--about-us, .main-content--repair {
      padding-top: 40px; } }

.title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300; }
  @media (min-width: 768px) {
    .title {
      font-size: 16px; } }

.subtitle {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 22px; } }

@keyframes item-rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-720deg); } }

@keyframes item-rotate-reverse {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg); } }

.footer {
  padding: 40px 0 20px 0;
  background: #1d1d1d;
  color: #fff;
  backface-visibility: hidden; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column; }
    @media (min-width: 768px) {
      .footer__wrapper {
        flex-direction: row; } }
  .footer__col {
    padding: 0 20px;
    width: 100%; }
    .footer__col:not(:last-child) {
      margin-bottom: 40px; }
    @media (min-width: 768px) {
      .footer__col {
        width: 25%; }
        .footer__col:not(:last-child) {
          margin-bottom: 0; } }
  .footer__title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px; }
  .footer__text {
    width: 100%;
    opacity: 0.5;
    font-size: 14px; }
    @media (min-width: 768px) {
      .footer__text {
        max-width: 300px; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    margin-right: 10px; }
  .footer__link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease; }
    .footer__link:hover {
      color: #326dcd; }
  .footer__btn {
    margin-top: 20px; }
  .footer__tel {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff; }
  .footer__copyright {
    margin-top: 20px;
    padding: 20px 20px 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center; }
    @media (min-width: 768px) {
      .footer__copyright {
        margin-top: 40px; } }
    .footer__copyright .footer__text {
      max-width: 100%;
      opacity: 1; }

.socials {
  display: flex;
  margin: 10px 0;
  list-style: none; }
  .socials__item {
    margin-right: 10px; }
  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all 0.3s ease; }
    .socials__link:hover {
      border-color: #13c0a2; }
      .socials__link:hover .socials__logo {
        fill: #13c0a2; }
    .socials__link:active {
      opacity: 0.5; }
    .socials__link:focus {
      opacity: 0.5;
      outline: none; }
  .socials__logo {
    transition: fill 0.3s ease; }

.base-button {
  display: inline-block;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background: #13c0a2;
  text-decoration: none;
  border: none;
  font-family: inherit;
  transition: all 0.3s ease; }
  .base-button:hover {
    opacity: 0.6;
    cursor: pointer; }
  .base-button:active {
    transform: scale(0.98); }

input {
  padding: 10px;
  width: 100%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  font-family: inherit;
  letter-spacing: 0.5px;
  transition: all 0.3s ease; }

textarea {
  padding: 10px;
  width: 100%;
  min-height: 100px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  resize: none;
  font-family: inherit; }

.feedback {
  margin-top: 20px;
  padding: 20px 0;
  background: #fff;
  border-top: 1px solid #e6e6e6; }
  @media (min-width: 1440px) {
    .feedback {
      padding: 40px 0;
      margin-top: 40px; } }
  .feedback__container {
    padding: 0 20px; }
  .feedback__group {
    position: relative;
    margin-bottom: 20px; }
    .feedback__group--name::after {
      content: '';
      position: absolute;
      top: 45px;
      right: 10px;
      width: 20px;
      height: 20px;
      background: url("../images/user.svg") no-repeat; }
      @media (min-width: 768px) {
        .feedback__group--name::after {
          top: 65px;
          right: 20px;
          width: 30px;
          height: 30px; } }
    .feedback__group--phone::after {
      content: '';
      position: absolute;
      top: 45px;
      right: 10px;
      width: 20px;
      height: 20px;
      background: url("../images/phone.svg") no-repeat; }
      @media (min-width: 768px) {
        .feedback__group--phone::after {
          top: 65px;
          right: 20px;
          width: 30px;
          height: 30px; } }
    .feedback__group--location::after {
      content: '';
      position: absolute;
      top: 45px;
      right: 10px;
      width: 20px;
      height: 20px;
      background: url("../images/pin.svg") no-repeat; }
      @media (min-width: 768px) {
        .feedback__group--location::after {
          top: 65px;
          right: 20px;
          width: 30px;
          height: 30px; } }
    @media (min-width: 768px) {
      .feedback__group {
        margin-bottom: 40px; } }
  .feedback__subgroup {
    margin-top: 20px; }
  .feedback__label {
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden; }
    @media (min-width: 768px) {
      .feedback__label {
        margin-bottom: 20px;
        font-size: 20px; } }
  .feedback__input {
    padding-right: 40px; }
    @media (min-width: 768px) {
      .feedback__input {
        padding: 20px;
        font-size: 16px; } }
  .feedback__list {
    list-style: none; }
  .feedback__radio {
    display: none; }
    .feedback__radio:checked ~ .feedback__radio-title::after {
      background: #13c0a2; }
  .feedback__item {
    padding-left: 36px;
    margin-bottom: 10px;
    position: relative; }
    @media (min-width: 768px) {
      .feedback__item {
        margin-bottom: 20px;
        padding-left: 45px; } }
  .feedback__radio-title {
    font-size: 14px;
    transition: opacity 0.3s ease; }
    @media (min-width: 768px) {
      .feedback__radio-title {
        font-size: 16px; } }
    .feedback__radio-title::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      transition: all 0.3s ease; }
      @media (min-width: 768px) {
        .feedback__radio-title::before {
          width: 30px;
          height: 30px; } }
    .feedback__radio-title::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: transparent;
      transition: all 0.3s ease; }
      @media (min-width: 768px) {
        .feedback__radio-title::after {
          width: 15px;
          height: 15px; } }
    .feedback__radio-title:hover {
      cursor: pointer; }
  @media (min-width: 768px) {
    .feedback__textarea {
      font-size: 16px;
      min-height: 150px; } }
  .feedback__notice {
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgba(29, 29, 29, 0.5); }
  .feedback__btn {
    min-width: 150px;
    font-family: inherit; }
    @media (min-width: 768px) {
      .feedback__btn {
        min-width: 200px;
        font-size: 20px; } }

.brands {
  padding: 80px 20px 80px 20px;
  background: #fff; }
  .brands__header {
    margin-bottom: 20px; }
  .brands__logo {
    margin: 0 10px; }
    @media (min-width: 500px) {
      .brands__logo {
        margin: 0 40px; } }
  .brands__text {
    margin-top: 20px;
    opacity: 0.5; }
    @media (min-width: 1100px) {
      .brands__text {
        margin-top: 40px;
        font-size: 20px; } }
  .brands .slick-track {
    display: flex;
    align-items: center; }

.header {
  position: relative; }
  .header--form, .header--about, .header--repair {
    min-height: auto; }
    .header--form .page-nav, .header--about .page-nav, .header--repair .page-nav {
      background: #1d1d1d; }
  .header__body {
    margin-top: 70px;
    height: 400px; }
    .header__body .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 23;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 1s ease;
      pointer-events: none; }
      @media (min-width: 768px) {
        .header__body .container {
          align-items: flex-start; } }
    @media (min-width: 768px) {
      .header__body {
        margin-top: -80px;
        height: 600px; } }
    @media (min-width: 1440px) {
      .header__body {
        margin-top: -90px;
        height: 800px; } }
  .header__col {
    text-align: center; }
  .header__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #fff; }
    @media (min-width: 768px) {
      .header__title {
        font-size: 30px; } }
    @media (min-width: 1440px) {
      .header__title {
        font-size: 50px; } }
  .header__text {
    display: none;
    margin-bottom: 20px;
    max-width: 550px;
    font-size: 20px;
    color: #fff;
    text-align: left; }
    @media (min-width: 768px) {
      .header__text {
        display: block;
        font-size: 18px;
        margin-bottom: 30px; } }
  .header__button {
    max-width: 180px;
    font-size: 16px;
    text-transform: uppercase;
    background: #326dcd; }
    @media (min-width: 1440px) {
      .header__button {
        font-size: 20px; } }
  .header__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    min-width: 100%;
    height: 100%; }

.slider__slide {
  position: relative;
  height: 100%;
  padding: 20px; }
  .slider__slide::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none; }
  .slider__slide--1 {
    background: url("../images/header-slider-bg-1.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .slider__slide--2 {
    background: url("../images/header-slider-bg-2.jpg") no-repeat;
    background-size: cover;
    background-position: center; }
  .slider__slide--3 {
    background: url("../images/header-slider-bg-3.jpg") no-repeat;
    background-size: cover;
    background-position: center; }

.slider .slick-list,
.slider .slick-track {
  height: 100%; }

.slider .slick-current {
  overflow: hidden; }

.slider .slick-current .container {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  pointer-events: all; }

.page-nav {
  position: fixed;
  width: 100%;
  z-index: 24;
  background: #1d1d1d; }
  @media (min-width: 768px) {
    .page-nav {
      position: relative;
      background: transparent; } }
  .page-nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; }
  .page-nav__logo {
    width: 130px;
    height: 50px;
    z-index: 33;
    color: #fff; }
    @media (min-width: 768px) {
      .page-nav__logo {
        width: 170px;
        height: 60px; } }
    @media (min-width: 1440px) {
      .page-nav__logo {
        width: 200px;
        height: 70px; } }
  .page-nav__pic {
    width: 100%;
    height: 100%; }
  .page-nav__toggle {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 33;
    border: none;
    background: transparent; }
    @media (min-width: 768px) {
      .page-nav__toggle {
        display: none; } }
    .page-nav__toggle:hover {
      cursor: pointer; }
    .page-nav__toggle:focus {
      outline: none; }
  .page-nav__burger, .page-nav__burger::before, .page-nav__burger::after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #326dcd;
    transition: all 0.2s; }
  .page-nav__burger::before, .page-nav__burger::after {
    position: absolute;
    content: '';
    left: 0; }
  .page-nav__burger::before {
    top: 2px; }
  .page-nav__burger::after {
    bottom: 3px; }
  .page-nav__wrapper {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100vh;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 23;
    background: #1d1d1d;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out; }
    @media (min-width: 768px) {
      .page-nav__wrapper {
        display: block;
        padding: 0;
        height: auto;
        width: auto;
        transform: translateX(0);
        position: relative;
        background: transparent; } }
  .page-nav__list {
    margin-top: 70px;
    list-style: none; }
    @media (min-width: 768px) {
      .page-nav__list {
        display: flex;
        height: auto;
        margin-top: 0; } }
  .page-nav__item {
    padding: 20px;
    text-align: left; }
    @media (min-width: 768px) {
      .page-nav__item {
        padding: 10px; } }
    .page-nav__item--active {
      background: #326dcd; }
      @media (min-width: 768px) {
        .page-nav__item--active {
          background: transparent; } }
  .page-nav__link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease; }
    .page-nav__link:hover {
      color: #326dcd; }
    @media (min-width: 1440px) {
      .page-nav__link {
        font-size: 20px; } }
  .page-nav__phone {
    margin-bottom: 10px;
    font-weight: 400; }
    .page-nav__phone--icon {
      margin-right: 5px; }
  .page-nav__clock {
    margin-right: 10px; }
  .page-nav__contacts {
    margin-top: auto;
    padding: 20px; }
    @media (min-width: 768px) {
      .page-nav__contacts {
        display: none; } }
  .page-nav__time {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    font-weight: 400; }
  .page-nav__email {
    display: flex;
    align-items: center; }
  .page-nav__mail {
    margin-right: 10px; }
  .page-nav--opened .page-nav__burger {
    background: transparent; }
    .page-nav--opened .page-nav__burger::before {
      top: 11px;
      transform: rotate(-135deg); }
    .page-nav--opened .page-nav__burger::after {
      bottom: 12px;
      transform: rotate(135deg); }
  .page-nav--opened .page-nav__logo {
    color: #fff; }
  .page-nav--opened .page-nav__wrapper {
    transform: translateX(0); }
  .page-nav--opened .page-nav__link--1 {
    animation: slideLeft 0.7s ease; }
  .page-nav--opened .page-nav__link--2 {
    animation: slideLeft 0.9s ease; }
  .page-nav--opened .page-nav__link--3 {
    animation: slideLeft 1.1s ease; }
  .page-nav--opened .page-nav__link--4 {
    animation: slideLeft 1.3s ease; }
  .page-nav--opened .page-nav__contacts {
    animation: slideLeft 1.5s ease; }

@keyframes slideLeft {
  0% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0); } }

.workers {
  padding: 40px 20px;
  background: #242424;
  position: relative; }
  .workers::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    left: 0;
    transform: rotate(180deg);
    background: url("../images/corner.svg") no-repeat; }
  .workers__header {
    margin-bottom: 20px; }
  .workers__list {
    margin-top: 60px; }
    @media (min-width: 1100px) {
      .workers__list {
        display: flex;
        justify-content: space-between; } }
  .workers__item {
    padding: 30px 0;
    overflow: hidden;
    border-top: 2px solid #326dcd;
    color: #fff;
    background: url("../images/appliance-master.png") no-repeat;
    background-position: right 20px;
    background-size: 56px; }
    @media (min-width: 1100px) {
      .workers__item {
        width: 22%; } }
  .workers__name {
    display: block;
    font-weight: 400;
    font-size: 20px; }
  .workers__job {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    opacity: 0.5; }
  .workers__title {
    color: #fff; }
  .workers__subtitle {
    color: #fff; }
  .workers__text {
    margin-top: 30px; }

.appliance {
  background: #fff;
  margin-top: 30px;
  padding-top: 40px;
  border-top: 1px solid #e6e6e6; }
  .appliance__item {
    margin-bottom: 20px; }
    @media (min-width: 1100px) {
      .appliance__item {
        display: flex;
        margin: 0; } }
    @media (min-width: 1100px) {
      .appliance__item--reversed {
        display: flex;
        flex-direction: row-reverse; } }
  .appliance__col {
    padding: 20px;
    text-align: center; }
    @media (min-width: 1100px) {
      .appliance__col {
        padding: 100px 40px;
        width: 50%; } }
    .appliance__col--image {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right bottom, #326dcd, #42aaff); }
  .appliance__image {
    width: 70px;
    height: 70px; }
    @media (min-width: 1100px) {
      .appliance__image {
        width: 200px;
        height: 200px; } }
  .appliance__title {
    text-align: center;
    font-weight: 500; }
    @media (min-width: 1100px) {
      .appliance__title {
        font-size: 30px; } }
  .appliance__text {
    margin: 20px 0;
    line-height: 1.6; }
    @media (min-width: 1100px) {
      .appliance__text {
        font-size: 20px; } }
    .appliance__text--problems {
      opacity: 0.6; }
  .appliance__button {
    font-size: 18px; }
    @media (min-width: 1100px) {
      .appliance__button {
        font-size: 20px; } }

.breadcrumbs {
  display: flex;
  padding: 0 20px;
  list-style: none; }
  @media (min-width: 768px) {
    .breadcrumbs {
      font-size: 18px; } }
  .breadcrumbs__item {
    position: relative;
    color: #1d1d1d; }
    .breadcrumbs__item:not(:last-child) {
      margin-right: 30px; }
      .breadcrumbs__item:not(:last-child)::after {
        position: absolute;
        content: '';
        top: 50%;
        right: -22px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        background: url("../images/arrow-right.svg") no-repeat; }
  .breadcrumbs__link {
    text-decoration: none;
    color: #1d1d1d;
    transition: color 0.3s ease; }
    .breadcrumbs__link:hover {
      color: #13c0a2; }

.repair {
  padding: 40px 20px;
  background: #fff; }
  .repair__header {
    margin-bottom: 20px; }
  .repair__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px; }
    @media (min-width: 1440px) {
      .repair__wrapper {
        justify-content: space-between; } }
  .repair__item {
    max-width: 710px;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(29, 29, 29, 0.4);
    text-decoration: none; }
    .repair__item:not(:last-child) {
      margin-bottom: 20px; }
    .repair__item--fridge {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/fridge.jpg");
      background-size: cover; }
    .repair__item--dishwasher {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/dishwasher.jpg");
      background-size: cover; }
    .repair__item--washer {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/washer.jpg");
      background-size: cover; }
    .repair__item--conditioner {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/conditioner.jpg");
      background-size: cover; }
  .repair__type {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #fff; }
    .repair__type::after {
      position: absolute;
      content: '';
      width: 50px;
      height: 2px;
      background: #13c0a2;
      left: 0;
      bottom: -20px; }
  .repair__text {
    margin-top: 40px;
    font-size: 20px;
    color: #fff; }

.prices {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  border-top: 1px solid #e6e6e6; }
  .prices__header {
    margin-bottom: 20px; }
  .prices__quote {
    font-family: 'Georgia', sans-serif;
    font-style: italic; }
  .prices__title {
    font-size: 20px;
    font-weight: 500; }
  .prices__text {
    margin-top: 20px;
    font-weight: 400; }

.reviews {
  padding: 40px 20px 40px 20px;
  background: #fff; }
  @media (min-width: 768px) {
    .reviews {
      padding: 80px 20px 80px 20px; } }
  .reviews__header {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .reviews__header {
        margin-bottom: 40px; } }
  .reviews__item {
    position: relative;
    height: 220px;
    padding: 15px;
    border-radius: 5px;
    background: #f6f6f6; }
    @media (min-width: 768px) {
      .reviews__item:not(:last-child) {
        margin-right: 20px; } }
    .reviews__item::before {
      position: absolute;
      content: '';
      top: 10px;
      right: 10px;
      width: 100px;
      height: 100px;
      background: url("../images/quote.svg") no-repeat;
      opacity: 0.1; }
  .reviews__quote {
    color: #212121; }
  .reviews__data {
    display: flex;
    align-items: center;
    margin-top: 20px; }
  .reviews__image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%; }

.cta {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  min-height: 50vh;
  color: #fff; }
  .cta__title {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400; }
    @media (min-width: 768px) {
      .cta__title {
        font-size: 16px; } }
    @media (min-width: 1100px) {
      .cta__title {
        font-size: 20px; } }
  .cta__text {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 400; }
    @media (min-width: 768px) {
      .cta__text {
        font-size: 22px; } }
    @media (min-width: 1100px) {
      .cta__text {
        font-size: 30px; } }
  .cta__btn {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    text-align: center; }
    @media (min-width: 1100px) {
      .cta__btn {
        max-width: 200px;
        margin-top: 30px;
        font-size: 20px; } }

.about {
  padding: 20px;
  margin: 20px 0 20px 0;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }
  @media (min-width: 768px) {
    .about {
      padding: 40px 20px;
      text-align: left; } }
  .about__title {
    font-size: 25px;
    font-weight: 500; }
    @media (min-width: 1100px) {
      .about__title {
        font-size: 25px; } }
  .about__subtitle {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 500; }
  .about__text {
    margin-top: 20px;
    color: #686868; }
    @media (min-width: 1100px) {
      .about__text {
        font-size: 20px; } }

.achievments {
  padding: 20px 0;
  background-color: #f6f6f6; }
  .achievments__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media (min-width: 768px) {
      .achievments__wrapper {
        flex-direction: row;
        justify-content: space-around; } }
  .achievments__col {
    margin-bottom: 30px;
    padding: 10px 0; }
    @media (min-width: 768px) {
      .achievments__col {
        width: 200px;
        margin-bottom: 0; } }
  .achievments__image {
    width: 50px;
    height: 50px;
    margin: 0 auto; }
    .achievments__image--people {
      background: url("../images/people.svg") no-repeat 100%; }
    .achievments__image--years {
      background: url("../images/success.svg") no-repeat 100%;
      background-size: 100%; }
    .achievments__image--repair {
      background: url("../images/repair.svg") no-repeat 100%; }
  .achievments__number {
    display: block;
    margin-top: 10px;
    font-size: 30px;
    color: #326dcd; }
  .achievments__text {
    font-size: 20px; }

.location {
  padding: 80px 20px 0px 20px;
  background: #fff; }
  .location__header {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .location__header {
        margin-bottom: 40px; } }
  .location__body {
    margin: 0 -20px;
    min-height: 50vw;
    background: url("../images/map.jpg") no-repeat;
    background-position: center;
    background-size: cover; }
    @media (min-width: 768px) {
      .location__body {
        min-height: 40vw; } }

.steps {
  position: relative;
  padding: 40px 20px;
  background: #242424;
  color: #fff; }
  .steps::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -40px;
    left: 0;
    transform: rotate(180deg);
    background: url("../images/corner.svg") no-repeat; }
  .steps__body {
    margin-top: 60px; }
    @media (min-width: 1400px) {
      .steps__body {
        display: flex; } }
  .steps__step {
    position: relative;
    padding: 60px 0;
    margin-bottom: 30px; }
    @media (min-width: 1400px) {
      .steps__step {
        width: 25%; } }
    .steps__step--1 {
      background: url("../images/step-1.svg") no-repeat top center, url("../images/arrow-down.svg") no-repeat bottom center;
      background-size: 50px; }
      @media (min-width: 1400px) {
        .steps__step--1 {
          background: url("../images/step-1.svg") no-repeat top center;
          background-size: 50px; }
          .steps__step--1::before {
            content: '1';
            position: absolute;
            top: -50px;
            left: 10%;
            font-size: 160px;
            opacity: 0.1; } }
    .steps__step--2 {
      background: url("../images/step-2.svg") no-repeat top center, url("../images/arrow-down.svg") no-repeat bottom center;
      background-size: 50px; }
      @media (min-width: 1400px) {
        .steps__step--2 {
          background: url("../images/step-2.svg") no-repeat top center;
          background-size: 50px; }
          .steps__step--2::before {
            content: '2';
            position: absolute;
            top: -50px;
            left: 10%;
            font-size: 160px;
            opacity: 0.1; } }
    .steps__step--3 {
      background: url("../images/step-3.svg") no-repeat top center, url("../images/arrow-down.svg") no-repeat bottom center;
      background-size: 50px; }
      @media (min-width: 1400px) {
        .steps__step--3 {
          background: url("../images/step-3.svg") no-repeat top center;
          background-size: 50px; }
          .steps__step--3::before {
            content: '3';
            position: absolute;
            top: -50px;
            left: 10%;
            font-size: 160px;
            opacity: 0.1; } }
    .steps__step--4 {
      padding-bottom: 0;
      margin-bottom: 0;
      background: url("../images/step-4.svg") no-repeat top center;
      background-size: 50px; }
      @media (min-width: 1400px) {
        .steps__step--4 {
          background: url("../images/step-4.svg") no-repeat top center;
          background-size: 50px; }
          .steps__step--4::before {
            content: '4';
            position: absolute;
            top: -50px;
            left: 10%;
            font-size: 160px;
            opacity: 0.1; } }
  .steps__text {
    text-align: center; }

.modal {
  display: none;
  position: fixed;
  z-index: 222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  padding: 20px;
  background: #fff;
  border-radius: 5px; }
  @media (min-width: 1100px) {
    .modal {
      width: 500px; } }
  .modal__group {
    margin-bottom: 20px; }
  .modal__label {
    display: block;
    margin-bottom: 10px; }
  .modal__submit {
    width: 120px;
    font-size: 16px; }
  .modal__close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer; }
    .modal__close:hover::before, .modal__close:hover::after {
      background: #13c0a2; }
    .modal__close::before, .modal__close::after {
      position: absolute;
      content: '';
      left: 0;
      width: 100%;
      height: 2px;
      background: #1d1d1d;
      transition: background-color 0.3s ease; }
    .modal__close::before {
      transform: rotate(45deg); }
    .modal__close::after {
      transform: rotate(-45deg); }
