.header {
  position: relative;

  &--form,
  &--about,
  &--repair {
    min-height: auto;

    & .page-nav {
      background: $color-dark;
    }
  }

  &__body {
    margin-top: 70px;
    height: 400px;

    & .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      position: relative;
      z-index: 23;
      transform: translateX(-100%);
      opacity: 0;
      transition: all 1s ease;
      pointer-events: none;

      @media(min-width: 768px) {
        align-items: flex-start;
      }
    }

    @media(min-width: 768px) {
      margin-top: -80px;
      height: 600px;
    }

    @media(min-width: 1440px) {
      margin-top: -90px;
      height: 800px;
    }
  }

  &__col {
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: $color-white;

    @media(min-width: 768px) {
      font-size: 30px;
    }

    @media(min-width: 1440px) {
      font-size: 50px;
    }
  }

  &__text {
    display: none;
    margin-bottom: 20px;
    max-width: 550px;
    font-size: 20px;
    color: $color-white;
    text-align: left;

    @media(min-width: 768px) {
      display: block;
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__button {
    max-width: 180px;
    font-size: 16px;
    text-transform: uppercase;
    background: $color-blue;

    @media(min-width: 1440px) {
      font-size: 20px;
    }
  }

  &__image {
    @include fill-img;
  }
}

.slider {

  &__slide {
    position: relative;
    height: 100%;
    padding: 20px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    &--1 {
      background: url('../images/header-slider-bg-1.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }


    &--2 {
      background: url('../images/header-slider-bg-2.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--3 {
      background: url('../images/header-slider-bg-3.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }
  }


  & .slick-list,
  & .slick-track {
    height: 100%;
  }

  & .slick-current {
    overflow: hidden;
  }

  & .slick-current .container {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }
}