.header {
  position: relative;
  min-height: 100vh;

  &--form {
    min-height: auto;
  }

  &__body {
    height: calc(100% - 70px);

    & .container {
      position: relative;
      z-index: 23;
      text-align: left;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 1s ease;
    }

    @media(min-width: 768px) {
      align-items: center;
      margin-top: -80px;
      height: 100vh;
    }

    @media(min-width: 1440px) {
      margin-top: -90px;
    }
  }

  &__col {
    text-align: center;

    @media(min-width: 768px) {
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: $color-white;

    @media(min-width: 768px) {
      font-size: 30px;
    }

    @media(min-width: 1440px) {
      font-size: 50px;
    }
  }

  &__text {
    display: none;
    margin-bottom: 20px;
    max-width: 550px;
    font-size: 20px;
    color: $color-white;

    @media(min-width: 768px) {
      display: block;
      font-size: 18px;
    }
  }

  &__button {
    font-size: 16px;
    text-transform: uppercase;
    background: $color-blue;

    @media(min-width: 1440px) {
      font-size: 20px;
    }
  }

  &__image {
    @include fill-img;
  }
}

.slider {

  &__slide {
    position: relative;
    height: 100%;
    padding: 180px 20px 0 20px;

    @media(min-width: 768px) {
      padding-top: 200px;
    }

    @media(min-width: 1440px) {
      padding-top: 300px;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      pointer-events: none;
    }

    &--1 {
      background: url('../images/header-slider-bg-1.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }


    &--2 {
      background: url('../images/header-slider-bg-2.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }

    &--3 {
      background: url('../images/header-slider-bg-3.jpg') no-repeat;
      background-size: cover;
      background-position: center;
    }
  }


  & .slick-list,
  & .slick-track {
    height: 100%;
  }

  & .slick-current {
    overflow: hidden;
  }

  & .slick-current .container {
    transform: translateY(0);
    opacity: 1;
  }
}