.location {
  padding: 40px 20px;
  background: $color-white;

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
  }

  &__subtitle {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  &__body {
    margin: 0 -20px;
    min-height: 50vw;
    background: url('../images/map.jpg') no-repeat;
    background-position: center;
    background-size: cover;
  }
}