.manufacturer {
  padding: 20px;

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__wrapper {
    padding: 40px 0;
  }

  &__logo {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}