.page-nav {
  position: relative;
  z-index: 24;
  background: $color-dark;

  @media(min-width: 768px) {
    background: transparent;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  &__logo {
    width: 130px;
    height: 50px;
    z-index: 33;
    color: $color-white;

    @media(min-width: 768px) {
      width: 170px;
      height: 60px;
    }


    @media(min-width: 1440px) {
      width: 200px;
      height: 70px;
    }
  }

  &__pic {
    width: 100%;
    height: 100%;
  }

  &__toggle {
    display: flex;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 33;
    border: none;
    background: transparent;

    @media(min-width: 768px) {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  &__burger,
  &__burger::before,
  &__burger::after {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: $color-blue;
    transition: all 0.2s;
  }

  &__burger {

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
    }

    &::before {
      top: 2px;
    }

    &::after {
      bottom: 3px;
    }
  }

  &__wrapper {
    display: block;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 23;
    background: $color-dark;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;

    @media(min-width: 768px) {
      display: block;
      height: auto;
      width: auto;
      transform: translateX(0);
      position: relative;
      background: transparent;
    }
  }

  &__list {
    margin-top: 70px;
    height: 100%;
    list-style: none;

    @media(min-width: 768px) {
      display: flex;
      height: auto;
      margin-top: 0;
    }
  }

  &__item {
    padding: 20px;
    text-align: left;

    @media(min-width: 768px) {
      padding: 10px;
    }

    &--active {
      background: $color-blue;

      @media(min-width: 768px) {
        background: transparent;
      }
    }
  }

  &__link {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: $color-white;
    text-decoration: none;

    @media(min-width: 1440px) {
      font-size: 20px;
    }
  }

  &--opened &__burger {
    background: transparent;

    &::before {
      top: 11px;
      transform: rotate(-135deg);
    }

    &::after {
      bottom: 12px;
      transform: rotate(135deg);
    }
  }

  &--opened &__logo {
    color: $color-white;
  }

  &--opened &__wrapper {
    display: block;
    transform: translateX(0);
  }

  &--opened &__link {
    &--1 {
      animation: slideLeft 0.7s ease;
    }

    &--2 {
      animation: slideLeft 0.9s ease;
    }

    &--3 {
      animation: slideLeft 1.1s ease;
    }

    &--4 {
      animation: slideLeft 1.3s ease;
    }
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}