.workers {
  padding: 40px 20px;
  background: #f6f6f6;

  &__header {
    margin-bottom: 20px;
  }

  &__item {
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $color-border;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__image {
    width: 300px;
    margin: 0 auto;
    height: 300px;
    border-radius: 5px;
  }

  &__name {
    display: block;
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
  }

  &__job {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.5;
  }

  &__text {
    margin-top: 10px;
  }
}